@use 'variaveis' as v;

.l-header {
    width: 100%;
    height: 89px;
    background-color: v.$plt4;
    background-color: #f6f6f6;
    padding: 0 v.$spacing-1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .150);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 33;
    & .c-header {
        width: 100%;
        max-width: v.$desktop;
        height: 100%;
        margin: 0 auto;
        display: flex; align-items: center;
    }
}

.c-logo-e-title {
    display: flex;
    width: fit-content;
    height: 3.438em;
    .c-logo {
        width: 3.438em;
        height: 3.438em;
        margin-right: 0.25em;
        & .logo {
            width: 100%;
            height: 100%;
            background-image: url('../_img/logo.png');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
        }
    }
    
    .c-titulos {
        height: 3.375em;
        & .titulo {
            font-family: 'AnnaStd';
            font-weight: v.$fw-light;
            font-size: 42px;
            line-height: 1em;
            margin-top: 0.063em;
            color: v.$plt2;
        }

        & .subtitulo {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: v.$fw-medium;
            line-height: 1em;
            margin-left: 0.125em;
            margin-top: -0.313em;
            color: v.$plt2;
        }
    }
}