@use 'variaveis' as v;
@use 'sass:color' as c;
@use 'mixin' as m;
/*
######################## MENU ##########################
*/

.c-menu-principal {
    &__ul {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: c.scale(v.$plt1, $alpha: -2%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 300ms ease-in-out;
        z-index: 44;

        & li {
            margin: 15px 0;            
        }

        & a {
            font-size: 30px;
            padding: 10px;
            color: v.$plt4;
            transition: all 150ms ease-in-out;
            font-family: 'Montserrat', sans-serif;
            font-weight: v.$fw-medium;
            letter-spacing: 1px;
        }
    }
}


@media (orientation: landscape) {
   .c-menu-principal {

        &__ul {
            height: 100vh;

            & li {
                margin: 7px 0;
            }

            &  a {
                font-size: 28px;     
            }
        }
   }
}

@media (min-width: v.$tablet) {
    .c-menu-principal {

        &__ul {

            & li {
                margin: 30px 0;
                
                & a {
                    font-size: 32px;
                }
            }
        }
    }
}

@media (min-width: v.$desktop) {
    .c-menu-principal {
        &__ul {
            visibility: visible;
            opacity: 1;
            flex-direction: row;
            width: 874px;
            height: 30px;
            top: 30px;
            left: auto;
            right: 90px;
            background: transparent;
            & li {
                transition: all 100ms ease-in-out;

                margin: 15px;
                &:hover {
                    @include m.translateY;
                }
                & a {
                    font-size: 22px;
                    font-weight: v.$fw-light;                
                    color: v.$plt3;
                    color: lighten($color: v.$plt3, $amount: 7)
                }
            }
        }
    }
}

@media (min-width: v.$fullhd) {
    .c-menu-principal {
        &__ul {
            right: auto;
            left: calc(50% - 125px);
        }
    }
}

.transicao-menu-ul {
    visibility: visible;
    opacity: 1;
}

.overflow-html {
    overflow: hidden;
}