// PAGINA HTML PRIVACIDADE

.corpo {
    padding: 20px;
    background-color: #ffffff;
}

// ######################################################################################

.cookies-content p {
    margin: 0;
    line-height: 1.2rem;
    font-size: 14px;
}

.cookies-container {
    color: #222;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    width: 100%;
    bottom: 2rem;
    z-index: 100;
}

.cookies-content {
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    background: white;
    max-width: 520px;
    border-radius: 5px;
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
    transform: translateY(1rem);
    animation: slideUp 0.5s forwards;
}

@keyframes slideUp {
    to {
        transform: initial;
        opacity: initial;
    }
}

.cookies-pref label{
    margin-right: 1rem;
}

.cookies-save {
    grid-column: 2;
    grid-row: 1/3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #007cf8;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1rem;
    font-size: 1rem;

}

@media (max-width: 500px) { 
    .cookies-content {
        grid-template-columns: 1fr;
    }
    .cookies-save {
        grid-column: 1;
        grid-row: 3;
    }
}
