$plt1: #124B5F;
$plt2: #53A08E;
$plt3: #686868;
$plt4: #FFFFFF;
$bg-contato: #EDEDED;
// #############
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
// #############
$spacing-tiny: 10px;
$spacing-1: 20px;
$spacing-2: 30px;
$spacing-3: 45px;
$spacing-4: 60px;
$spacing-5: 90px;
// #############
$mobile: 359px;
$small: 500px;
$tablet: 768px;
$desktop: 1512px;
$fullhd: 1920px;
// ############
$max-width-section: 1226px;